body{
    background-color: rgb(203, 215, 223);
}
header{
    background-image: linear-gradient(white,rgb(197, 138, 239));
}
#box-2 {
    display: flex;
    justify-content: space-evenly;
}
/* nav bar propeties logo and header name */
header div{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    color: rgb(138, 17, 88);
    cursor: pointer;
    font-weight: bold;
    
}
/* anchor tag properties */
a{
    text-decoration: none;
    color: rgb(16, 145, 119);
    
}
img{
   width: 40px;
   height: 40px;
}
/* style external meal list(api meal list) */
#meals-list{
    margin: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
li{
    list-style: none;
    padding: 10px;
    
    width:25%;
}
.meal h2{
    text-align: center;
    margin-left: 35px;
    cursor: pointer;
}
/* set external image size */
li img{
    margin-left:30px;
    height: 250px;
    width:250px;
    border-radius: 50%;
    border: 1px solid lightgray;
}
.meal-name{
    display: flex;
}
/* icon properties */
.meal-name i{
    font-size: 1.5rem;
    margin-top:17px;
    margin-left: 15px;
    cursor: pointer;
}
/* icon inner color when click on icon  */
.fas{
    color:red;
}
/* Responsive design */

@media screen and (max-width:900px){
    li{
        width:45%;
        margin-bottom: 5px;
    }
}

@media screen and (max-width:600px){
    li{
        width:75%;
        margin-bottom: 5px;
        margin-left: 30px;
    }
    header div{
        width:100%;
    }
    #meals-list{
        margin: 30px;
        display: flex;
}
}
@media screen and (max-width:400px){
    header div h2{
        font-size: 17px;
        padding: 8px;
        word-wrap: wrap;
    }
    #box-2 img{
        position: relative;
        right: 10px;
    }
    
    li{
        width: 45%;
        margin-bottom: 5px;

    }

    header{
        margin: 6px;
    }
    header{
        width: 100%;

    }
    #meals-list{
        margin: 30px;
        display: flex;
        
    
}


}
